* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-size: 2rem;
}

p {
    font-size: 1rem;
}

.container {
   max-width: 90%;
}

img {
    width: 100%;
    height: auto;
    transition: all .4s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}

  /* ----------------- Navigation ----------------- */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    height: 7em;
    border-radius: 0.8em;
}

nav a.logo {
    font-weight: bold;
    width: 100%;
    font-size: 1.5rem;
    border-bottom: 2px solid white;
    margin-bottom: 1em;
    text-decoration: none;
    text-align: center;
}

nav ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    border-radius: 0.8em;
    width: 4.5em;
    height: auto;
    background-color: salmon;
    font-family: 'Source Sans', serif;
}

nav ul li a {
    text-align: center;
    list-style: none;
    text-decoration: none;
    color:rgb(0, 0, 0);
}

  /* ----------------- End Navigation ----------------- */

  /* ----------------- Header ----------------- */

header {
    text-align: center;
}

header h1 {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
}

header p {
    font-size: 0.75em;
    margin-bottom:1em;
    font-family: 'Didact Gothic', sans-serif;
    width: 50px;
}

  /* ----------------- End Header ----------------- */

main h2 {
    width:80%;
    border-left: 2px solid orange;
    padding: 0.5em 0 0 0.5em;
    margin: .5em 0 .5em .5em;
    font-family: 'Nanum Myeongjo', serif;
}

section {
    margin-bottom: 1em;
}

section .recent-article {
    background-color: rgb(255, 255, 255);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 2em;
    grid-template-areas: 
    "rc"
    "fva"
    "fta"
    "asd"
    "asd";
}

  main .blog-wrapper h3 {
    text-transform: capitalize;
  }

  main figure > img {
    border-radius: 2em;
    padding: 0.8em;
   
  }

  main .blog-content a.category  {
    width: 5em;
    text-decoration: none;
    position: relative;
    z-index: 1;
    top: 60px;
    left: 40px;
    background-color: black;
    border-radius: 12px;
    font-size: .8em;
    color: white;
    text-align: center;
    opacity: 0.6;
    padding: 5px 17px;
  }

  main .blog-content a.category:hover {
    transform: translateY(-3px);
  }

  main .post-content p {
    font-size: 0.875rem;
    color: gray;
    font-family: 'Quicksand', sans-serif;
  }

  main .post-content p.date-posted {
    font-size: .7rem;
  }

  main .post-content > * {
    margin: 1em 0 0 1em;
  }

  main .post-content > h3 {
    margin-left: 0.8em;
  }
  
  main .post-content figure > img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  main .post-content p {
    font-size: 0.875rem;
    color: gray;
    font-family: 'Quicksand', sans-serif;
  }

  main .post-content p.date-posted {
    font-size: .7rem;
  }

  main .post-content > * {
    margin: 1em 0 0 1em;
  }

  main .post-content > h3 {
    margin-left: 0.8em;
  }

   main aside .personal-info img {
    border-radius: 50%;
    height: 110px;
    width: 35%;
  }

  main aside {
    background-color: rgb(230, 230, 230);
    height: 300px;
    margin-bottom: 1.5em;
  }

  main aside h4 {
    width:80%;
    border-left: 2px solid orange;
    padding: 0.5em 0 0 0.5em;
    margin: .5em 0 .5em .5em;
    font-family: 'Nanum Myeongjo', serif;
  }

  main aside p {
    padding-left: .8em;
    font-size: .875rem;
  }
  
  main aside ul li {
    font-size: .85rem;
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    background-color: rgb(250, 123, 101);
    border-radius: 1em;
    margin: 1em 0 0 1em;
    opacity: 0.8;
  }

  main aside ul li a {
    /* background-color: tomato; */
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 5px 17px;
  }

 /* ----------------- Footer ----------------- */

 footer .footer-row {
    display: grid;
    grid-template-columns: 1fr;
    grid-row: auto;
    grid-gap: 1.5em;
  }

  footer .footer-row h4 {
    font-family: 'Nanum Myeongjo', serif;
  }

  footer .footer-row .contact address p,
  footer .footer-row .archive ul li,
  footer .footer-row .social ul li {
    padding-top: 1em;
    font-size: .875rem;
    font-style: normal;
  }

  footer .footer-row .social ul li,
  footer .footer-row .archive ul li {
    list-style: none;
  }

  footer .footer-row .archive ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Source Sans Pro', sans-serif
  }

  footer .footer-row .archive ul li a i.icon {
    margin-right: .5em;
  }  

  footer .footer-row .social ul li {
    height: 2em;
    width: 2em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
  }


  footer p.copyright {
    text-align: center;
    margin-top: 1.5em;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 0.875rem;
  }


  /* ----------------- End Footerr ----------------- */


   /* Tablet Screen 768px */  
@media screen and (min-width:768px) {

    nav {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }

    nav a.logo {
      width: 20%;
      border-bottom: none;
      text-decoration: none;
    }

    nav ul li {
      display: inline-flex;
      font-size: 1rem;
      font-family: 'Source Sans', serif;
    }

    header {
        text-align: center;
      }
    
    header h1 {
        margin-bottom: 0;
    }
    
    header p {
       font-size: 0.75em;
       margin-bottom:1em;
       font-family: 'Didact Gothic', sans-serif;
    }

    header h1 {
      font-size: 2rem;
      font-family: 'Source Sans Pro', sans-serif;
    }
    header p {
      font-size: 1.3rem;
    }

    main aside .personal-info img {
      border-radius: 50%;
      height: 120px;
      width: 20%;
    }

    footer .footer-row{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
    }
}

/* Desktop Screen 1200px */  
@media only screen and (min-width: 1200px) {

    nav a.logo {
      text-align: left;
    }

    nav ul li {
      margin-right: 1em;
    }

    main {
        /* border: 1px solid orange; */
      margin-top: 2em;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
      'article article aside'
      'article article aside'
      'article article sidebar';
      grid-gap: 0;
    }

    section.article {
      /* border: 1px solid red; */
      padding-top: 0;
      grid-area: article;
      
    }

    section.article .blog-wrapper .post-content p {
        font-size: 22px;
    }

    /* Another layout For Sidebar */

    /* aside.about-info {
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    /* Another layout For Sidebar */

    aside.about-info {
     /* border: 1px solid blue; */
      grid-area: aside;
    }

    aside.category {
        margin-top: 0;
        /* border: 1px solid purple; */
        grid-area: sidebar;
    }

    main aside .personal-info img {
      border-radius: 50%;
      height: 120px;
      width: 30%;
    }

    footer {
      margin-top: 2em;
    }
}